apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: kaniko-build
  labels:
    app.kubernetes.io/version: "1.0.0"
spec:
  description: Build a container image using Kaniko

  params:
    - name: image
      description: Name (reference) of the image to build (including tag)
    - name: dockerfile
      description: Path to the Dockerfile to build
      default: ./Dockerfile
    - name: context
      description: The build context used by Kaniko
      default: ./
    - name: extra-args
      type: array
      default: []
      description: Extra arguments to pass to kaniko

  workspaces:
    - name: source
      description: Holds the context and Dockerfile
    - name: dockerconfig
      description: Includes a docker `config.json`
      optional: true
      mountPath: /kaniko/.docker

  results:
    - name: IMAGE_DIGEST
      description: Digest of the image just built
    - name: IMAGE_URL
      description: URL of the image just built

  steps:
    - name: build-and-push
      workingDir: $(workspaces.source.path)
      image: gcr.io/kaniko-project/executor:v1.24.0
      args:
        - $(params.extra-args)
        - --dockerfile=$(params.dockerfile)
        - --context=$(workspaces.source.path)/$(params.context)
        - --destination=$(params.image)
        - --digest-file=$(results.IMAGE_DIGEST.path)
      securityContext:
        runAsUser: 0

    - name: write-url
      image: docker.io/library/bash:5.2.21
      script: |
        set -e
        image="$(params.image)"
        echo -n "${image}" | tee "$(results.IMAGE_URL.path)"
